@mixin noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($property, $duration) {
    -webkit-transition: $property #{$duration}s linear;
    -moz-transition: $property #{$duration}s linear;
    -o-transition: $property #{$duration}s linear;
    transition: $property #{$duration}s linear;
}