$color-primary: rgb(10, 126, 163);
$color-gray-light: rgb(225, 228, 231);
$color-gray-dark: rgb(40, 53, 64);


$border-radius: 5px;
$border-size: 2px;

$spacing: .2rem;
$spacing-sm: .4rem;
$spacing-md: .65rem;
$spacing-lg: 1.1rem;
$spacing-xl: 1.5rem;