@use "bootstrap/scss/bootstrap-reboot.scss";
@use "bootstrap/scss/bootstrap-grid.scss";
@use "bootstrap/scss/bootstrap-utilities.scss";
@use "./abstracts/variables.scss" as *;
@use "./vendors";
@use "./base";
@use "./components";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

body {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: $color-gray-dark;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .container {
        max-width: 800px;
    }

    .example-table {
        overflow-x: scroll;
    }

    @include media-breakpoint-down(md) {
        .table-position {
            display: none;
        }
    }
}